/*LAYOUT */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 0;
}

.content section {
    margin: 0;
    padding: 0;
}

.content-flex-2-cols {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}

.content-flex-item-1 {
    place-items: flex-start;
    flex: 1;
}

.content-flex-item-2 {
    margin-top: 2em;
    flex: 2;
}

.spacing-3rem {
    margin-bottom: 3rem;
}

.spacing-5rem {
    margin-bottom: 5rem;
}

.spacing-9rem {
    margin-bottom: 9rem;
}

/*  CAROUSEL */
.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.carousel-item {
    display: none;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.carousel-button{
    background-color: transparent;
    border: none;
}
.carousel-button:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: 0.3s ease-out;
}

.carousel-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}