/*LAYOUT */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 0;
}

.content section {
    margin: 0;
    padding: 0;
}

.content-flex-2-cols {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
}

.content-posters{
    align-items: flex-start;
}

.content-flex-item-1 {
    place-items: flex-start;
    flex: 1;
}

.content-flex-item-2 {
    margin-top: 2em;
    flex: 2;
}

.spacing-3rem {
    margin-bottom: 3rem;
}

.spacing-5rem {
    margin-bottom: 5rem;
}

.spacing-9rem {
    margin-bottom: 9rem;
}

/*  CAROUSEL */
.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.carousel-item {
    display: none;
}

.carousel-button {
    background-color: transparent;
    border: none;
}

.carousel-button:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: 0.3s ease-out;
}

.carousel-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 7rem;
}

.news-updates {
    font-family: Archivo, sans-serif;
    font-size: 1vw;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--grey-light);
}

.news-updates:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 0.3s ease-out;
    color: var(--white-bkdg);
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 20;
}

@media screen and (max-width: 1200px) {
    .carousel-section {
        margin: 0.7rem;
    }
}

@media screen and (max-width: 908px) {
    .news-updates {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 600px) {
    .news-updates {
        font-size: 3vw;
    }
}