/* COLOUR CONSTANTS */

:root {
    --blue-light: rgb(16, 115, 255);
    --white-bkdg: #FCFCFC;
    --grey-light: rgb(210, 210, 210);
    --grey-dark: rgba(0, 0, 0, 0.217);
    --grey-darkest: rgb(68, 80, 99);
    --black: rgb(0, 0, 0);
}

/*  //  END OF COLOUR CONSTANTS //  */

/* NORMALIZE */

/* Text Elements*/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--white-bkdg);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}

h4, h5 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
}

p {
    font-size: 1.2em;
    line-height: 1.1;
    letter-spacing: 0.03em;
    max-width: 45em;
    margin-top: 0.5em;
}

img {
    border: 1px solid var(--grey-light);
    border-radius: 0.3em;
}

.nav-img {
    border: none;
    margin-top: 0.5em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--grey-light);
}

nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--grey-darkest);
    margin-right: 15px;
    padding-bottom: 10px;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    color: var(--blue-light);
    transform: scale(1.06);
}

a {
    color: var(--blue-light);
    text-decoration: none;
}

a:hover img {
    transform: scale(1.02);
}

input {
    border: 1px solid lightgray;
    border-radius: 2em;
    height: 1.75rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

select {
    border: 1px solid lightgray;
    border-radius: 0.5em;
    height: 2.5em;
    margin: 0.5rem;
    padding: 0.5em;
}

/*  //  END OF NORMALIZE //  */


/* GENERAL */

.long-text {
    inline-size: 45rem;
    overflow-wrap: break-word;
}

/*Reference: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/*SCROLLBAR*/
::-webkit-scrollbar {
    background: transparent;
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 2rem;
}

/* INTERACTIVE ELEMENTS */
#nike, #adidas {
    color: blue;
    text-decoration: none;
}

#nike:hover, #nike:focus, #adidas:hover, #adidas:focus {
    text-decoration: underline;
}

#product-listing {
    color: var(--blue-light);
    text-decoration: none;
    border-bottom: 2px solid var(--blue-light);
}

#checkout-template {
    color: var(--blue-light);
    text-decoration: none;
    border-bottom: 2px solid var(--blue-light);
}

.search-bar {
    margin-bottom: 1rem;
}

.search-bar:hover, .search-bar:focus, .search-bar:active {
    border-color: var(--grey-darkest);
}

/* button css */
.button-nav {
    border: 1px solid var(--black);
    display: inline-block;
    padding: 0.5em 0.75em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--white-bkdg);
    background: var(--black);
    transition: background-color 0.5s ease-out;
    min-width: 9em;
    margin-top: 3em;
}

.button-nav:hover, .button-nav:focus {
    color: var(--black);
    background: var(--white-bkdg);
    text-decoration: none;
}

.button-nav-cart {
    border: 1px solid black;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--white-bkdg);
    background: var(--black);
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    margin-bottom: 1.2em;
    margin-top: 1em;
    margin-left: 2em;
    min-width: 27em;
}

.button-nav-cart:hover, .button-nav-cart:focus {
    color: black;
    background-color: #ffffff;
}

.button-display {
    border: 1px solid var(--grey-darkest);
    border-radius: 3rem;
    display: inline-block;
    padding: 0.5em 0.75em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--white-bkdg);
    background: var(--grey-darkest);
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    margin: 10px 3px 14px 5px;
    min-width: 2rem;
}

.button-display:hover, .button-display:focus {
    color: var(--grey-darkest);
    background: var(--white-bkdg);
    text-decoration: none;
}

.button-display-arrow {
    border: none;
    color: var(--grey-dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: start;
}

.button-display-arrow:hover, .button-display-arrow:focus {
    color: var(--grey-darkest);
    transition: 0.3s ease-in;
    text-decoration: none;
}

.h1-display-short {
    word-wrap: break-word;
    width: 10em;
    text-transform: uppercase;
}

.h1-display-italicize {
    display: contents;
    text-align: justify;
    font-style: italic;
    font-size: 3.7vw;
    width: 3.7rem;
    white-space: nowrap;

}

.text-display-short {
    word-wrap: break-word;
    width: 20em;
}

.user-info {
    padding-top: 10px;
}

.payment-info {
    padding-bottom: 10px;
}

.nav-child {
    flex: 1;
    max-width: 350px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container-customize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    margin: 3em;
}

.container-about {
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.container-two {
    display: flex;
    flex-wrap: nowrap;
}

.container-checkout {
    display: flex;
    flex-wrap: nowrap;
    background-color: #cacaca4a;
    max-width: 70em;
}

/* Decoration */
fieldset {
    border-color: #a4a4a456;
}


#total {
    margin-top: 10em;
    flex: 1;
}

.poster-listing {
    margin-left: 2em;
    margin-top: 2em;
    background-color: rgba(222, 222, 222, 0.151);
    max-width: 22em;
}

.listing-content {
    padding-left: 1.5em;
}

.branding-container {
    flex-direction: row;
}

.branding-one {
    flex: 1;
}

.branding-two {
    flex: 1;
}

#poster-brand {
    flex: 1;
    padding-top: 2em;
}

#poster-brand-img {
    padding-top: 2em;
    flex: 1;
}

.h1-header, .h1-header:active {
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    margin: 0;
    text-decoration: none;
    color: black;
}

.h1-header:hover {
    color: var(--grey-dark);
    text-decoration: none;
    transition: 0.1s ease-in;
}

header h1 {
    text-align: center;
}

header nav {
    text-align: center;
}

header p {
    text-align: center;
}

/*  //  END OF GENERAL //  */


/* CHECKOUT CART */
.checkout-cart {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 45em;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
}

.cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.customization {
    display: flex;
    flex-direction: column;
    max-width: 30em;
}

.cart-summary {
    margin: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.back-to-shop {
    display: block;
    margin-top: 1em;
    font-size: 0.9em;
    color: #555;
    text-decoration: none;
}

.product-cart {
    display: flex;
    gap: 1em;
    padding: 1em;
    border-bottom: 0.15em solid rgb(210, 210, 210);
    max-width: 40em;
}

.colors {
    gap: 1em;
    margin-bottom: 1em;
}

.colors img {
    border: none;
}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 22em;
    width: 50em;
}

#total-price {
    border-top: 0.15em solid rgb(210, 210, 210);
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 19em;
}

/* END OF CHECKOUT CART */

/* PAYMENT FORM CODE */

.checkout-form {
    background-color: #ffffff;
    font-size: 1em;
    padding: 2em;
    border-radius: 2px;
    max-width: 80em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-left: 1em;
}

.method-label {
    margin-left: 0.3em;
}

.form-message {
    height: 4em;
    line-height: inherit;
}

.form-fields label {
    display: block;
    margin-bottom: 0.7em;
    font-size: 0.9em;
    color: #2b2b2b;
}

.form-fields .input-row {
    color: #555;
}

.form-fields .input-row {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.7em;
}

select {
    margin: 0;
    margin-top: 1em;
}

.form-fields input[type="text"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.payment-button-div {
    border-top: 0.15em solid rgb(210, 210, 210);
    text-align: center;
}

/* END OF PAYMENT FORM */

.grid {
    display: grid;
    place-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.search-cart {
    display: flex;
    flex-direction: row;
}

#PKLogo-about {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER STYLING */
footer {
    background: var(--grey-light);
    display: flex;
    margin-top: 3em;
    padding: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
}

.footer-item {
    color: var(--grey-darkest);
}

.footer-text {
    font-size: 0.6em;
}

@media (max-width: 702px) {

}

/* STAR STYLING REVIEW */
.star-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    flex-wrap: wrap;
    width: fit-content;
}

.star-items {
    display: block;
    width: fit-content;
}

.star-items img {
    border: none;
}

.star-items:hover, .star-items:focus {
    cursor: pointer;
}

.star-items img:hover, .star-items img:focus {
    scale: 110%;
}