/* NAVIGATION STYLING */
.menu ul{
    display: inline-flex;
    flex: 2 0 max-content;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.menu li{
    text-decoration: none;
}
/** END OF NAVIGATION STYLING **/

/* HAMBURGER MENU ICON */

.hamburger {
    display: none;
    top: 0;
    right: 0.2rem;
    position: sticky;
    cursor: pointer;
    color: transparent;
    border-color: transparent;
    background-color: transparent;
    z-index: 99;
}

#menuLine1, #menuLine2, #menuLine3 {
    width: 1.9rem;
    height: 0.4em;
    border-radius: 1rem;
    background-color: var(--grey-darkest);
    transition: ease-out 0.3s;
    margin: 0.15rem;
}

.transformLine1{
    transform: rotate(45deg);
}

.transformLine2{
    background-color: transparent;
    transform: rotate(45deg);
    opacity: 0;
}

.transformLine3{
    transform: rotate(-44deg) translateX(1em) translateY(-1.1em);
}

.hidden{
    display: block;
}
/** END OF HAMBURGER MENU **/

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .menu ul{
        flex-direction: column;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        justify-content: space-between;
    }

    #menuOverlay{
        z-index: 7;
        position: fixed;
        margin: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--white-bkdg);
        overflow-y: scroll;
        overflow-x: hidden;
        transition: 0.5s ease-out;
    }

    .hidden{
        display: none;
    }
}

/** END OF MEDIA QUERIES **/