/* NAVIGATION STYLING */
.menu ul{
    display: inline-flex;
    flex: 2 0 max-content;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.menu li{
    text-decoration: none;
}
/** END OF NAVIGATION STYLING **/

/* HAMBURGER MENU ICON */

.hamburger {
    display: none;
    margin: inherit;
    top: 0;
    right: 0.2rem;
    position: sticky;
    cursor: pointer;
    color: transparent;
    border-color: transparent;
    background-color: transparent;
    z-index: 99;
}

.line1, .line2, .line3 {
    width: 2.15rem;
    height: 0.4em;
    margin: 0.2rem;
    background-color: var(--grey-darkest);
    transition: ease-out 0.3s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-1rem,1rem) scale(0.95);
}

.change .line2 {
    transform: scale(0.95);
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-0.5rem, -0.6rem) scale(0.95);
}

.hidden{
    display: block;
}
/** END OF HAMBURGER MENU **/

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .menu ul{
        flex-direction: column;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
    }

    #menuOverlay{
        z-index: 7;
        position: fixed;
        margin: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--white-bkdg);
        overflow-y: scroll;
        overflow-x: hidden;
        transition: 0.5s ease-out;
    }

    .hidden{
        display: none;
    }
}

/** END OF MEDIA QUERIES **/