/* NAVIGATION STYLING */
.menu ul{
    display: inline-flex;
    flex: 2 0 max-content;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
}

.menu li{
    text-decoration: none;
}
/** END OF NAVIGATION STYLING **/

/* HAMBURGER MENU ICON */

.hamburger {
    margin: 2rem;
    top: 0;
    right: 0;
    position: fixed;
    cursor: pointer;
    color: transparent;
    z-index: 10;
    border-color: transparent;
    background-color: transparent;
    width: 5rem;
    height: 5rem;
}

.line1, .line2, .line3 {
    width: 3rem;
    height: 0.5rem;
    margin: 0.6rem 0.5rem;
    background-color: #284d35;
    transition: ease-out 0.3s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-1rem,1rem) scale(0.95);
}

.change .line2 {
    transform: scale(0.95);
    opacity: 0%;
}

.change .line3 {
    transform: rotate(45deg) translate(-0.5rem, -0.6rem) scale(0.95);
}
/** END OF HAMBURGER MENU **/

/* HAMBURGER MENU + MEDIA QUERY */

@media screen and (max-width: 900px) {
    .menu ul{
        flex-direction: column;
    }

    .hamburger{
        display: block;
    }
}

/** END OF HAMBURGER MENU + MEDIA QUERY **/