/* TEXT ELEMENTS*/
*{
  box-sizing: border-box;
}

body {
  background-color: #FCFCFC;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-family: 'Archivo Black', sans-serif;
  font-size: 4em;
}

h2 {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
}

h4{
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  margin-bottom: 1em;
}

p{
  font-size: 1.2em;
  line-height: 1.1; 
  letter-spacing: 0.03em; 
  max-width: 45em;
  margin-top: 0.5em;
}

.long-text{
  inline-size: 45rem;
  overflow-wrap: break-word;
}

/*Reference: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/*SCROLLBAR*/
::-webkit-scrollbar {
  background: transparent;
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 2rem;
}


/* Responsive structures */
@media (max-width: 600px){
  p{
    max-width: 90%;
  }
  .navBar-item {
    font-size: 0.8rem;
    width: auto;
    padding: 0.75rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 300px) {
  .container {
    flex-direction: column;
  }
  .navBar-item {
    font-size: 0.25rem;
    width: auto;
    padding: 0.65rem;
    margin-right: 0.25rem;
  }
}
/* // Responsive structures  */

/* Lines after each section */
section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 0.25rem solid rgb(210, 210, 210);
  width: fit-content;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

/* INTERACTIVE ELEMENTS */
.in-text-link{
	color: blue;
	text-decoration: none;
}

.in-text-link:hover, .in-text-link:focus {
	text-decoration: underline;
}

nav{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid rgb(210, 210, 210);
}

nav a{
  font-weight: 600;
  color: rgb(113, 113, 113);
  margin-right: 1em;
  text-decoration: none;
}

nav a:hover, nav a:focus{
  color: rgb(0, 0, 0);
}

a:hover img{
	transform: scale(1.01);
}

.search-bar:hover{
	background: #d2d2d213;
}
.search-bar:focus{
	background: #d2d2d213;
}

/* button css */
.button-nav {
  border: 1px solid black;
  display: inline-block;
  padding: 0.5em 0.75em;
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: 600;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  min-width: 9em;
  margin-top: 3em;
}

.button-nav:hover, .button-nav:focus {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.button-nav-cart {
  border: 1px solid black;
  display: inline-block;
  padding: 0.5em 0.75em;
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: 600;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  margin-left: 2em;
  min-width: 27em;
}

.button-nav-cart:hover, .button-nav-cart:focus {
  color: rgb(16, 115, 255);
  background: rgb(255, 255, 255);
  text-decoration: none;
}

/* PAYMENT FORM CODE */

form {
  background-color: #ffffff;
  font-size: 1em;
  padding: 2em;
  border-radius: 2px;
  max-width: 80em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-methods {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-left: 1em;
}

.method-label {
  margin-left: 0.3em;
}

.form-fields label {
  display: block;
  margin-bottom: 0.7em;
  font-size: 0.9em;
  color: #555;
}

.form-fields .input-row {
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.7em;
}

.form-fields input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.payment-button-div{
  border-top: 0.15em solid rgb(210, 210, 210);
  text-align: center;
}

/* END OF PAYMENT FORM */

/* Colour Palette */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-two {
  display: flex;
  flex-wrap: nowrap;
}

.container-checkout {
  display: flex;
  flex-wrap: nowrap;
  background-color: #cacaca4a;
  max-width: 70em;
}

#black{
  background-color: rgb(0, 0, 0);
  max-width: 30em;
  height: 18em;
  border: 1px solid rgba(0, 0, 0, 0.217);
  margin: 1em;
  flex: 1;
  border-radius: 5px;
}

#black p{
  color: rgb(255, 255, 255);
  padding: 1em;
}

#white{
  background-color: rgb(255, 255, 255);
  max-width: 30em;
  height: 18em;
  border: 1px solid rgba(0, 0, 0, 0.217);
  margin: 1em;
  flex: 1;
  border-radius: 5px;
}

#white p{
  color: rgb(0, 0, 0);
  padding: 1em;
}

#gray{
  background-color: rgb(68, 80, 99);
  max-width: 30em;
  height: 18em;
  border: 1px solid rgba(0, 0, 0, 0.217);
  margin: 1em;
  flex: 1;
  border-radius: 5px;
}

#gray p{
  color: rgb(255, 255, 255);
  padding: 1em;
}

#blue{
  background-color: rgb(16, 115, 255);
  max-width: 30em;
  height: 18em;
  border: 1px solid rgba(0, 0, 0, 0.217);
  margin: 1em;
  flex: 1;
  border-radius: 5px;
}

#blue p{
  color: rgb(255, 255, 255);
  padding: 1em;
}

/* Decoration */
fieldset{
  border-color: #a4a4a456;
}

.product-cart{
  max-width: 400px;
  flex:1;
  padding-left: 2m;
  padding-top: 2em;
}


.sample{
  max-width: 30em;
  margin-top: 2em;
  flex: 1;
}

.rendered{
  max-width: 40em;
  flex:1;
  padding-left: 2em;
}

.poster-listing {
  flex: 1;
  margin-left: 2em;
  margin-top: 2em;
  background-color: rgba(222, 222, 222, 0.151);
  max-width: 22em;
}

.listing-content{
  padding-left: 1.5em;
}

.branding-container{
  flex-direction: row;
}

.branding{
  flex: 1;
}

#poster-brand{
  flex: 1;
  padding-top: 2em;
}

#poster-brand-img{
  padding-top: 2em;
  flex: 1;
}

header h1{
  text-align: center;
}

header nav{
  text-align: center;
}

header p{
  text-align: center;
}

/* 2 column */

/*https://www.w3schools.com/css/css_grid.asp*/
.grid-container {
  display: grid;
  align-content: center;
  margin: 3rem;
  column-gap: 2rem;
  row-gap: 2rem;
}

.header-row {
  margin: 5%;
  align-content: center;
}

/*how to use sticky: https://developer.mozilla.org/en-US/docs/Web/CSS/position*/
.col-nav {
  grid-column: 1;
  display: block;
  position: sticky;
  top: 15%;
  height: fit-content;
  width: fit-content;
  padding: 0;
  background-color: #FCFCFC;
  border-right: solid 0.25rem lightgray;
  border-bottom: none;
}

.col-content {
  grid-column: 2;
  width: fit-content;
}

/*https://www.w3schools.com/howto/howto_css_fixed_menu.asp*/

.navBar {
  display: block;
  padding: 0;
  text-decoration: none;
  align-items: end;
  top: 0;
  list-style-type: none;
}

.navBar a:hover, .navBar a:focus {
  text-decoration: none;
  background-color: lightgray;
  color: #181818;
}

/*https://stackoverflow.com/questions/7693224/how-do-i-right-align-div-elements
    for aligning to the right*/
.navBar-item {
  display: block;
  text-decoration: none;
  width: fit-content;
  padding: 1.25rem;
  margin-right: 1rem;
  margin-left: auto;
  color:  #181818;
  font-size: inherit;
  text-align: right;
}

.navBar-item:hover, .navBar-item:active, .navBar-item:focus{
  text-decoration: none;
  background-color: lightgray;
  color: #181818;
}

/* CHECKOUT CART */
.checkout-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 45em;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .cart-summary {
    margin: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  
  .back-to-shop {
    display: block;
    margin-top: 1em;
    font-size: 0.9em;
    color: #555;
    text-decoration: none;
  }

  .product-cart{
    display: flex;
    gap: 1em;
    padding: 1em;
    border-bottom: 0.15em solid rgb(210, 210, 210);
    max-width: 40em;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
    gap: 22em;
    width: 50em;
  }

#total-price{
    border-top: 0.15em solid rgb(210, 210, 210);
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 19em;
}
/* END OF CHECKOUT CART */
